<%= render "layouts/errors", :object => @photo %>

<%= form_for @photo do |f| %>
  <%= f.label :name %>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.label :description %>
  <br>
  <%= f.text_area :description %>
  <br>
  <%= f.label :price %>
  <br>
  <%= f.number_field :price %>
  <br>
  <%= f.label :image  %>
  <br>
  <%= f.file_field :image %>
  <br>
  <div class="button">
    <%= f.submit  %>
  </div>
<% end %>
