<div class="container">
  <h2><%= @photo.name %></h2>
  <h3>$<%= @photo.price %></h3>
   <p class="large-image"><%= image_tag "#{@photo.image}" %></p>
   <br>
  <h3>Description: <%= @photo.description %></h3>
  <br>
  <hr>
  <div class="links">
    <p><%= link_to "Add a review", new_photo_review_path(@photo) %></p>
    <% if current_user.try(:admin?) %>
    <p><%= link_to "Edit Photo Information", edit_photo_path(@photo) %></p>
    <p><%= link_to "Delete Photo", photo_path(@photo), :data => {:confirm => "You sure?", :method => "delete"} %></p>
    <% end %>
    </ul>
  </div>
<hr>
<% if @photo.reviews.any? %>
  <h3>Reviews:</h3>
  <ul>
  <% @photo.reviews.each do |review| %>
        <li><h4> "<%= review.content %>" </h4></li>

      <% if current_user.try(:admin?) %>
      <p><%= link_to "Delete Review", photo_review_path(@photo, review), :data => {:confirm => "You sure?", :method => "delete"} %></p>
      <% end %>
      <br>
    <% end %>
  </ul>
<% end %>
</div>
